{% extends "overrides/main.html" %}

{% block tabs %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/overrides.min.css' | url }}">
  <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}.md-container{display:block}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>
  <section class="tx-container">
   <div class="content">
      <div class="tx-hero">
        <div class="tx-hero__image">
          <div class="slider">
            <input type="radio" name="toggle" id="btn-1" checked>
            <input type="radio" name="toggle" id="btn-2">
            <input type="radio" name="toggle" id="btn-3">
            <input type="radio" name="toggle" id="btn-4">
            <input type="radio" name="toggle" id="btn-5">
            <input type="radio" name="toggle" id="btn-6">
            <input type="radio" name="toggle" id="btn-7">
            <div class="slider-controls">
              <label for="btn-1"></label>
              <label for="btn-2"></label>
              <label for="btn-3"></label>
              <label for="btn-4"></label>
              <label for="btn-5"></label>
              <label for="btn-6"></label>
              <label for="btn-7"></label>
            </div>
            <ul class="slides">
              <li class="slide">
                <p class="slide-image">
                  <img src="{{ 'assets/homepg-images/1.png' | url }}" alt="stuff" width="320" height="240">
                </p>
                <div class="slide-content">
                  <h2 class="slide-title">New at CFDE Training</h2>
                  <p class="slide-text">Explore our latest tutorial additions and discover lessons across a broad spectrum of technical topics.</p>
                  <a href="./Release-Notes/" class="slide-link">Learn More</a>
                </div>
              </li>
              <li class="slide">
                <p class="slide-image">
                  <img src="{{ 'assets/homepg-images/2.png' | url }}" alt="stuff" width="320" height="240">
                </p>
                <div class="slide-content">
                  <h2 class="slide-title">GWAS in the Cloud</h2>
                  <p class="slide-text">Analyse genetic variants to obtain correlations to phenotypes and visualize using a Manhattan plot.</p>
                  <a href="./Bioinformatic-Analyses/GWAS-in-the-cloud/" class="slide-link">Get Started</a>
                </div>
              </li>
              <li class="slide">
                <p class="slide-image">
                  <img src="{{ 'assets/homepg-images/8.png' | url }}" alt="stuff" width="320" height="240">
                </p>
                <div class="slide-content">
                  <h2 class="slide-title">RNA-Seq on Cavatica</h2>
                  <p class="slide-text">Learn to perform differential gene expression analysis using Kids First cancer cohorts on Cavatica cloud platform.</p>
                  <a href="./Bioinformatic-Analyses/RNAseq-on-Cavatica/rna_seq_1/" class="slide-link">Get Started</a>
                </div>
              </li>
              <li class="slide">
                <p class="slide-image">
                  <img src="{{ 'assets/homepg-images/3.png' | url }}" alt="stuff" width="320" height="240">
                </p>
                <div class="slide-content">
                  <h2 class="slide-title">Amazon Web Services</h2>
                  <p class="slide-text">Learn to connect, setup and conduct analysis using Amazon's cloud computing services.</p>
                  <a href="./Cloud-Platforms/Introduction_to_Amazon_Web_Services/introtoaws1" class="slide-link">Get Started</a>
                </div>
              </li>
              <li class="slide">
                <p class="slide-image">
                  <img src="{{ 'assets/homepg-images/9.png' | url }}" alt="stuff" width="320" height="240">
                </p>
                <div class="slide-content">
                  <h2 class="slide-title">Google Cloud Platform</h2>
                  <p class="slide-text">Learn to setup, download NCBI's SRA datasets and conduct analysis using Google's cloud computing services.</p>
                  <a href="./Cloud-Platforms/Introduction-to-GCP/" class="slide-link">Get Started</a>
                </div>
              </li>
              <li class="slide">
                <p class="slide-image">
                  <img src="{{ 'assets/homepg-images/4.png' | url }}" alt="stuff" width="320" height="240">
                </p>
                <div class="slide-content">
                  <h2 class="slide-title">Snakemake Workflows</h2>
                  <p class="slide-text">Learn to create reproducible and scalable data analyses using the snakemake workflow management system.</p>
                  <a href="./General-Tools/Snakemake/" class="slide-link">Get started</a>
                </div>
              </li>
              <li class="slide">
                <p class="slide-image">
                  <img src="{{ 'assets/homepg-images/10.png' | url }}" alt="stuff" width="320" height="240">
                </p>
                <div class="slide-content">
                  <h2 class="slide-title">Conda Manager</h2>
                  <p class="slide-text">Discover the use of conda for managing virtual environments and software package installations for streamlined, versioned and reproducible workflows.</p>
                  <a href="./General-Tools/Introduction-to-Conda/" class="slide-link">Get started</a>
                </div>
              </li>
              <!--
              <li class="slide">
                <p class="slide-image">
                  <img src="{{ 'assets/homepg-images/7.png' | url }}" alt="stuff" width="320" height="240">
                </p>
                <div class="slide-content">
                  <h2 class="slide-title">CFDE Internal Resources</h2>
                  <p class="slide-text">Find lessons on navigating GitHub, contributing to our websites and identifying MIME type.</p>
                  <a href="./CFDE-Internal-Training/" class="slide-link">Get Started</a>
                </div>
              </li>
              -->
            </ul>
          </div>
        </div>
        <div class="tx-hero__content">
          <h1>Welcome to CFDE Training Resources!</h1>
          <p>{{ config.site_description }}. </p>
        </div>
      </div>
      <div class="content__bottom">
        <div class="content__col left">
          <div class="data_header">
            <p>Workshops</p>
          </div>
           <div class="data_content_left">
             <div>
              <p><div style="font-size:22px; font-style: italic">Check out our events calendar for <a href="https://www.nih-cfde.org/events/" target="_blank" rel="noopener" style="color:#336699;">upcoming workshops !</a></div></p>
             </div>
             <div>
              <p><div style="font-size:22px; font-style: italic">Past workshops:</a></div></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://www.nih-cfde.org/events/intro-to-remote-computing-series-editing-files/" target="_blank" rel="noopener" style="color:#336699;">Creating & Modifying Text Files</a></div><i>August 4,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://www.nih-cfde.org/events/introduction-to-remote-computing-series-intro-to-shell/" target="_blank" rel="noopener" style="color:#336699;">Introduction to UNIX Command Line</a></div><i>August 3,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/Introduction-to-R:-July-28,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to R</a></div><i>July 28,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://osf.io/txcw8/" target="_blank" rel="noopener" style="color:#336699;">RNA-Seq Concepts, Design and Workflows</a></div><i>July 21,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-Conda:-July-14,-2021" target="_blank" rel="noopener" style="color:#336699;">A Hands-On Introduction to Conda</a></div><i>July 14,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-AWS:-June-30,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to Amazon Web Services/Elastic Cloud Computing</a></div><i>June 30,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/RNA-Seq-in-the-cloud:-June-21-&-23,-2021" target="_blank" rel="noopener" style="color:#336699;">RNA-Seq in the Cloud</a></div><i>June 21 & 23,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://us06web.zoom.us/rec/share/wYs0AGJ8cQHZ_UhaE1JJ4q4JmM8K7-F_S95t1OxLPwyuezTTlGjVtGz4ruqwGMp1.0ZBYwGZFeeVAoncw?startTime=1623862864000" target="_blank" rel="noopener" style="color:#336699;">Introduction to RNA-Seq Analysis with Appyters</a></div><i>June 16,&nbsp;2021 &nbsp;&bull;&nbsp; Pop-up Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://osf.io/kj5av/" target="_blank" rel="noopener" style="color:#336699;">RNA-Seq Concepts, Design, and Workflows</a></div><i>June 9,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/Introduction-to-R:-June-2,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to R</a></div><i>June 2,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px">CFDE Portal Demo</div><i>May 26,&nbsp;2021 &nbsp;&bull;&nbsp; Pop-up Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/Introduction-to-Workflows:-Snakemake-Part-I-&-II-May-12-&-14th,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to Workflows: Snakemake</a></div><i>May 12 & 14,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-AWS:-May-05,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to Amazon Web Services/Elastic Cloud Computing</a></div><i>May 5,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/Introduction-to-3D-Tissue-Mapping:-April-28,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to 3D Tissue Mapping</a></div><i>April 28,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-AWS:-April-22,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to Amazon Web Services/Elastic Cloud Computing</a></div><i>April 22,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-AWS:-April-21,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to Amazon Web Services/Elastic Cloud Computing</a></div><i>April 21,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
               <p><div style="font-size:19px"><a href="http://bit.ly/3abyDy0" target="_blank" rel="noopener" style="color:#336699;">CFDE Portal Demo</a></div><i>April 14,&nbsp;2021 &nbsp;&bull;&nbsp; Pop-up Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-Conda:-April-7,-2021" target="_blank" rel="noopener" style="color:#336699;">A Hands-On Intro to Conda</a></div><i>April 7,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-Conda:-March-18,-2021" target="_blank" rel="noopener" style="color:#336699;">A Hands-On Intro to Conda</a></div><i>March 18,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-Conda:-March-4,-2021" target="_blank" rel="noopener" style="color:#336699;">A Hands-On Intro to Conda</a></div><i>March 4,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-AWS:-February-25,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to Amazon Web Services/Elastic Cloud Computing</a></div><i>Feb 25,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-AWS:-January-29,-2021" target="_blank" rel="noopener" style="color:#336699;">Introduction to Amazon Web Services/Elastic Cloud Computing</a></div><i>Jan 29,&nbsp;2021 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
             <div>
              <p><div style="font-size:19px">Introduction to the Kids First Data Resource Portal</div><i>Dec 17,&nbsp;2020 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/>Workshop Resources:&nbsp; <a href="./Common-Fund-Tools/Kids-First/Portal-Setup-And-Permissions/KF_3_KF_Registration/" target="_blank" rel="noopener" style="color:#336699;">Setup</a> &nbsp;&bull;&nbsp; <a href="./Common-Fund-Tools/Kids-First/Exploring-Data-in-the-KF-Portal/KF_5_Explore/" target="_blank" rel="noopener" style="color:#336699;">Explore</a> &nbsp;&bull;&nbsp; <a href="./Common-Fund-Tools/Kids-First/Advanced-KF-Portal-Queries/KF_9_AdvancedQuery/" target="_blank" rel="noopener" style="color:#336699;">Queries</a></p>
             </div>
             <div>
              <p><div style="font-size:19px"><a href="https://github.com/nih-cfde/training-and-engagement/wiki/A-Hands-On-Introduction-to-AWS:-December-1,-2020" target="_blank" rel="noopener" style="color:#336699;">Introduction to Amazon Web Services/Elastic Cloud Computing</a></div><i>Dec 1,&nbsp;2020 &nbsp;&bull;&nbsp; Virtual Workshop</i><br/></p>
             </div>
           </div>
        </div>
        <div class="content__col middle">
          <div class="data_header">
            <p>Social Media</p>
          </div>
          <div class="data_content">
              <div style="padding-top: 10px; padding-left: 15px; padding-right: 15px; padding-bottom: 5px; float: center ">
           <a class="twitter-timeline" data-width="400" data-height="400" href="https://twitter.com/CfdeNih?ref_src=twsrc%5Etfw">Tweets by CfdeNih</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <div class="content__col right">
         <div class="data_header">
             <p>About CFDE</p>
          </div>
          <div class="data_content">
            <div style="padding-top: 15px; padding-left: 15px; padding-right: 15px; padding-bottom: 5px; width: 400; float: center ">
               <p>The <a href="https://www.nih-cfde.org" target="_blank" rel="noopener" style="color:#336699;">Common Fund Data Ecosystem (CFDE)</a> Coordination Center (CC) is a NIH Common Fund effort to identify and solve issues that inhibit data access and reuse across Common Fund programs. </br></br>By connecting the data and making them more accessible, the CFDE aims to enable novel scientific research that was not possible before, including hypothesis generation, discovery, and validation.</br></p>
               <div style="padding-top:5px; float: center ">
              <a href="https://commonfund.nih.gov/dataecosystem" target="_blank"><img width="350px" src="{{ 'assets/homepg-images/nih-cf-logo.jpeg' | url }}" title="NIH Common Fund"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
