{% extends "overrides/main.html" %}

{% block tabs %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/overrides.min.css' | url }}">
  
<section class="tx-container">
   <div class="content">
      <div class="tx-hero">
        <div class="tx-hero__image">
          <div class="slider">
            <input type="radio" name="toggle" id="btn-1">
            <input type="radio" name="toggle" id="btn-2">
            <input type="radio" name="toggle" id="btn-3">
            <input type="radio" name="toggle" id="btn-4">
            <input type="radio" name="toggle" id="btn-5" checked>
            <input type="radio" name="toggle" id="btn-6">

            <div class="slider-controls">
              <label for="btn-1"></label>
              <label for="btn-2"></label>
              <label for="btn-3"></label>
              <label for="btn-4"></label>
              <label for="btn-5"></label>
              <label for="btn-6"></label>

            </div>
            
            <ul class="slides">
              <li class="slide">
                <div class="slide-content">
                  <h2 class="slide-title">New Videos!</h2>
                  <p class="slide-text">Partnership projects pursued by the CFDE Data Coordinating Centers (DCCs) and the CFDE Coordination Center (CFDE CC) have prepared a series of videos to demonstrate the progress in CFDE. These videos highlight the integrative infrastructure, cross-cutting tools, and new pathways to discovery developed during the pilot phase.</p>
                  <a href="https://nih-cfde.github.io/2022-CoC-Videos/" class="slide-link">Learn More</a>
                </div>
              </li>
              
              <li class="slide">
               <div class="slide-content">
                  <h2 class="slide-title">CFDE Portal Introduction</h2>
                  <iframe width="480" height="240" src="https://www.youtube.com/embed/0ZBvVIQHbXU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                  <p class="slide-text">Watch this short video to learn more about the CFDE search portal.</p>
                </div>
              </li>
              
              
              <li class="slide">
              <div class="slide-content">
            <h2 class="slide-title">Data Submission Tools and Processes</h2>
             <iframe width="480" height="240" src="https://www.loom.com/embed/9a51c13e443740a3905db51679288378" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
                  <p class="slide-text">Watch this short video to learn how to submit data to the CFDE portal.</p>
                </div>
              </li>
              
              
              <li class="slide">
                <div class="slide-content">
                <h2 class="slide-title">C2M2 Compatibility Test Video</h2>
                <iframe width="480" height="240" src="https://www.youtube.com/embed/QST9HtwzwjE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="slide-text">Watch this short video to learn how to test meta data compatibility.</p>
                </div>
              </li>
              
              <li class="slide">
              <div class="slide-content">
            <h2 class="slide-title">Content Registry and Knowledge Base</h2>
             <iframe width="480" height="240" src="https://www.loom.com/embed/7eb2a4e9ddb3416694f9843544ed2ba3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
                  <p class="slide-text">Watch this short video to learn about the the knowledge base of external resources linked to the portal.</p>
                </div>
              </li>
              
              
              <li class="slide">
                <div class="slide-content">
                <h2 class="slide-title">A re-usable Solution for Knowledge Management C2M2</h2>
                <iframe width="480" height="240" src="https://www.youtube.com/embed/bNoZ47QoRWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="slide-text">Watch this video to learn about the Cross-Cut Meta Data Model (C2M2).</p>
                </div>
              </li>
              
            
              <li class="slide">
                <div class="slide-content">
                <h2 class="slide-title">Knowledge Graph</h2>
                <iframe width="480" height="240" src="https://www.youtube.com/embed/ijrivk3G9-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="slide-text">Watch this video to learn about the knowledge graph that integrates data and relationship from different CF projects.</p>
                </div>
              </li>            
                     
                                        
            </ul>
          </div>
        </div>
        <div class="tx-hero__content">
          <h1>Welcome to CFDE Training Resources!</h1>
          <p>{{ config.site_description }}. </p>
          

          <p> We have created the following hands-on tutorials:  </p>

          
          <ul>

<li><b>Common Fund Tools</b>: <a href="./Common-Fund-Tools/Kids-First/" style="color:#336699;">Kids First</a> and 
<a href="./Common-Fund-Tools/CFDE-Portal/" style="color:#336699;">CFDE Portal</a></li>


<li><b>Cloud Platforms</b>: <a href="./Cloud-Platforms/Introduction-to-AWS/" style="color:#336699;">AWS</a>,
<a href="./Cloud-Platforms/Introduction-to-GCP/" style="color:#336699;">GCP</a>, and
<a href="./Cloud-Platforms/Introduction-to-Terra/" style="color:#336699;">Terra</a></li>


<li><b>Bioinformatic Analyses</b>: <a href="./Bioinformatic-Analyses/BLAST-Command-Line/BLAST1/" style="color:#336699;">BLAST</a>,
<a href="./Bioinformatic-Analyses/GWAS-in-the-cloud/" style="color:#336699;">GWAS</a>, and
<a href="./Bioinformatic-Analyses/RNAseq-on-Cavatica/rna_seq_1/" style="color:#336699;">RNA-Seq</a></li>

<li><b>General Tools</b>:  
<a href="./General-Tools/Introduction-to-Conda/" style="color:#336699;">Conda</a>, 
<a href="./General-Tools/R-for-RNA-Seq/" style="color:#336699;">R</a>, 
<a href="./General-Tools/Snakemake/" style="color:#336699;">Snakemake</a>, and
<a href="./General-Tools/UNIX/" style="color:#336699;">UNIX</a>.
            </li>

</ul>
          

          <p> If you would like to submit a new tutorial, please refer to the 
            <a href="./Website-Style-Guide/" style="color:#336699;">Website Style Guide</a>.
          </p>
          
          
        </div>
      </div>
      <div class="content__bottom">
        <div class="content__col left">
          <div class="data_header">
            <p>Workshops</p>
          </div>
           <div class="data_content_left">
              <div style="padding-top: 10px; padding-left: 15px; padding-right: 15px; padding-bottom: 5px; float: center ">
              
              <p>The CFDE hosts free, vitural workshops every month!</p>
                
              <p>Check out our <a href="https://www.nih-cfde.org/events/" style="color:#336699;">events calendar</a> to learn more about  upcoming workshops.</p>
             
              <p>A list of past workshop with links to workshop materials can be found on the <a href="./Release-Notes/history/" style="color:#336699;">workshop history</a> page.</p>

                
        
             </div>
           </div>
        </div>
        <div class="content__col middle">
          <div class="data_header">
            <p>Social Media</p>
          </div>
          <div class="data_content">
              <div style="padding-top: 10px; padding-left: 15px; padding-right: 15px; padding-bottom: 5px; float: center ">
           <a class="twitter-timeline" data-width="400" data-height="400" href="https://twitter.com/CfdeNih?ref_src=twsrc%5Etfw">Tweets by CfdeNih</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <div class="content__col right">
         <div class="data_header">
             <p>About CFDE</p>
          </div>
          <div class="data_content">
            <div style="padding-top: 10px; padding-left: 15px; padding-right: 15px; padding-bottom: 5px; width: 400; float: center ">
               <p>The <a href="https://www.nih-cfde.org" target="_blank" rel="noopener" style="color:#336699;">Common Fund Data Ecosystem (CFDE)</a> Coordination Center (CC) is a NIH Common Fund effort to identify and solve issues that inhibit data access and reuse across Common Fund programs. <br> <br> By connecting the data and making them more accessible, the CFDE aims to enable novel scientific research that was not possible before, including hypothesis generation, discovery, and validation.<br></p>
               <div style="padding-top:5px; float: center ">
              <a href="https://commonfund.nih.gov/dataecosystem" target="_blank"><img width="350px" src="{{ 'assets/homepg-images/nih-cf-logo.jpeg' | url }}" title="NIH Common Fund"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
